{% extends 'base.html' %}
{% block content %}
    <h2 class="warning">소봇에 온걸 환영합니다.</h2>
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="table-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
                {% for key in content %}
            <tr>
                <td> {{key}}</td>
                <td>{{items }}</td>
                <td>시간1</td>        
            </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}